<!doctype html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/tables.css' %}">
        <link rel="stylesheet" href="{% static 'css/forms.css' %}">
        <script src="{% static 'js/script.js' %}" defer></script>
        <title>Simbiose</title>
    </head>
    <body>
        <div id="root">
            {% include './navBar.html' %}
            <div id="content">
                {% include './team.html' %}
                {% include './employee.html' %}
                {% include './recommendation.html' %}
                {% include './employeeTeam.html' %}
            </div>
        </div>
    </body>
</html>